<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf='userReady'>
  <ion-card>
    <img [src]="user.picture"/>
    <ion-card-content>
      <ion-card-title>
        Welcome {{user.name}}!
        </ion-card-title>
      <p>
        Your gender is: {{user.gender}}
      </p>
    </ion-card-content>
  </ion-card>
  <!-- <ng-container *ngFor="let msg of msgs.posts.data">
    <ion-card>
      <ion-card-content>
        <p>{{ msg.message }}</p>
        <p>{{ msg.current_time }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container> -->
  <p *ngIf='msgReady'>
    {{msg.name}}
  </p>
  <ion-row>
      <ion-col>
        <button ion-button block (click)="getPosts()">Pegar posts</button>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="doFbLogout()">Logout</button>
    </ion-col>
  </ion-row>
</ion-content>
